@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.tel-icon{
    padding: 7px 0;   
}
.tel-icon-center{
    max-width: 1080px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #B59A6D;
    padding-bottom: 10px;
    align-items: center;
}
.tel{
    display: flex;    
}
.call-row{
    display: flex;    
    align-items: center;
}
.call{
    display: flex;
    flex-direction: column;
    align-items:start;
}
.call p{
    margin-bottom: 5px;
    color: #B59A6D;
}
.tel ion-icon{
    margin-right: 5px;
    padding: 13px;
    border-radius: 50%;
    border: 1px solid #B59A6D;
    color: #B59A6D;
}
.tel a{
    margin-right: 15px;
    color: #3b3b3b;
}
.icon a{
    margin-left: 15px;
    color: #3b3b3b;
    font-size: 1.2rem;
}


header{
  background: white;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: -2px;
  padding: 0px;
  font-size: 20px;
  border-bottom: 3px solid #B59A6D;
  z-index: 11;
}

li{
  list-style: none;
}

.logo{
  font-weight: bold;
  font-size: 1.5rem;
  color: #313131;
  font-family: 'Kalnia', serif;
}

.nav-item a{
  color: #313131;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Playfair Display';
}

.navbar{
  max-width: 1080px;
  margin: auto;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu{
  display: flex;
  align-items: center;
}

.nav-branding{
  font-size: 2rem;
}

/* transition for links */

.nav-link{
  transition: 0.5s ease;
}

.nav-link:hover{
  color: #B59A6D;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #3b3b3b;
  border-radius: 2px;
}

.nav-item{
  padding: 0 0 0 2rem;
}



/* ---------------hero----------------------------- */
.section-hero{
  background: linear-gradient(rgba(20, 37, 56, 0.486), rgba(0, 0, 0, 0.411)), url(../img/hero-bg.png) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero-row{
  max-width: 1080px;
  margin: auto;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text h1{
  font-size: 50px;
  width: 400px;
  color: white;
  font-family: 'Playfair Display';
}
.hero-text p{
  font-size: 15px;
  width: 70%;
  margin: 20px 0 40px 0;
  color: white;
  line-height: 25px;
  font-family:Arial, Helvetica, sans-serif
}
.button{
  padding: 15px 50px;
  background-color: #B59A6D;
  color: azure !important;
  border-radius: 10px;
}
.book{
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  width: 650px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet{
  margin-bottom:20px;
  color: #3b3b3b;
}
.form-box{
  padding: 30px 35px;
}
.form-box div label{
  margin-top: 20px;
  margin-bottom: 10px;
}
.form-box div input{
  margin: 5px 0 15px 0;
  width: 100%;
  padding: 7px 10px;
  color: #7c7c7c;
  font-size: 17px;
  border: 1px solid #a3a3a3;
  outline: #B59A6D;
  border-radius: 5px;
}
.submit{
  padding: 10px 35px;
  background-color: #B59A6D;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
}

/* ---------- cractice are ------------------------------------------ */
.practice-row{
  max-width: 1080px;
  margin: auto;
  padding: 4rem 0;
}
.pcractice-head{
  text-align: center;
}
.pcractice-head h2{
  font-size: 30px;
  font-family: 'Playfair Display';
  color: #3b3b3b;
}
.pcractice-head  p{
  margin: 20px 0 60px 0;
  width: 80%;
  margin-left: 10%;
  color: #3b3b3b;
  font-family:Arial, Helvetica, sans-serif
}
.items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.item{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 40px 20px;  
  cursor: pointer;

}
.item h3{
  margin-top: 20px;
  font-family: 'Playfair Display', serif;
}
.item p{
  margin-top: 10px;  
  margin-bottom: 20px;
  font-size: 14px;
  color: #4b4b4b;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}
.item a{
  color: #B59A6D;
}

.mark{
  top: 0px;
  right: 0px;
  position: absolute;
  height: 100px;
  width: 100px;
  opacity: 0;
  background-color: #B59A6D;
  transition: .5s;
  border-bottom-left-radius: 80%;
  border-top-right-radius: 5px;

}

.item:hover .mark{
  opacity: 0.5;
  transition: 0.9s;

}

.item:hover{
  transition: 0.5s;
  transform: scale(1.03);
  background-color: #f7f7f7;
} 

/* -------------------  privide  ----------------------- */
.section-provide{
    background-color: #f1f1f1;
    padding: 4rem 0;
}
.privide{
  max-width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.provide-image {
  display: flex;
}
.provide-image img{
  width: 300px;
  border-radius: 10px;
}
.provide-image img:first-child{
  margin-right: 20px;
}
.provide-text{
  padding-left: 40px;
}


.provide-text h3{
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  color: #3b3b3b;
}
.provide-text p{
  padding: 20px 0 40px 0;
  color: #3b3b3b;
}






.happy-customer{
  max-width: 1080px;
  margin: auto;
  padding: 4rem 0;
}
.happy-customer h2{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin-bottom: 2.5rem;
  color: #3b3b3b;

}
.img-name{
  display: flex;
  align-items: center;

}
.img-name img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.img-name div{
  margin-left: 10px;
  margin-top: 20px;
}
.img-name div h4{
  font-size: 20px;
}

.person-three p{
  line-height: 25px;
  font-size: 26px;
  font-family: 'Caveat', cursive;
}
.person-second p{
  line-height: 25px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}
.person-one p{
  line-height: 25px;
  font-size: 20px;
  font-family: 'Single Day', cursive;
}

/* ---------------------------  FAQ ------------------------------ */

.drop-cuestion{
  z-index: -1;
  background-color: #f1f1f1;
  color: #3b3b3b;
  padding: 1rem 0 2rem 0;
}

.accordion dt > a {
  text-align: center;
  font-weight: 700;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: cornsilk !important;
 
}
.container h1{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
}
.accordion dd {
  margin-left: 50px;  
  font-size: 1em;
  line-height: 1.5em;
  background-color: cornsilk;
}
.accordion dd > p {
  
  padding: 1em 2em 1em 2em;
  font-size: 16px;
  line-height: 30px

}

.accordion {
  position: relative;
  background-color: rgba(83, 54, 0, 0.472);
}

.container {
  max-width: 1080px !important;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle {
  background-color: rgba(83, 54, 0, 0.472);
  border-bottom: 1px solid rgba(83, 54, 0, 0.472);
}
.accordionTitle:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover {
  background-color: rgba(83, 54, 0, 0.472);
}

.accordionTitleActive {
  background-color:rgba(83, 54, 0, 0.472);
}
.accordionTitleActive:before {
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

.accordionItem {
  height: auto;
  overflow: hidden;
}
@media all {
  .accordionItem {
    max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
  }
}


.accordionItemCollapsed {
  max-height: 0;
}

.animateIn {
  -webkit-animation-name: accordionIn;
  -webkit-animation-duration: 0.65s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: normal;
  -moz-animation-duration: 0.65s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionIn;
  animation-duration: 0.65s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

.animateOut {
  -webkit-animation-name: accordionOut;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
  -moz-animation-name: accordionOut;
  -moz-animation-duration: 0.75s;
  -moz-animation-iteration-count: 1;
  -moz-animation-direction: alternate;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-fill-mode: both;
  -moz-animation-delay: 0s;
  animation-name: accordionOut;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes accordionIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}
@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes accordionOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

/* ------------------------ day --------------------------- */
.section-rule{
  background: linear-gradient(rgba(20, 37, 56, 0.775), rgba(25, 25, 25, 0.808)), url(../img/rule.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rule-word p{
  color: #B59A6D;
  font-family: 'Courier New', Courier, monospace;
}
.rule-word h4{
  font-size: 60px;
  color: #f1f1f1;
  font-family: 'Playfair Display';
}


/* -----------------------  history  ----------------------------------------- */
.section-history{
  margin: 4rem 0;
}
.paragraph{
  max-width: 1080px;
  margin: auto;
}

#more {
  display: none;
}
.paragraph h1{
  text-align: center;
  font-size: 30px;
  color: #313131;
  font-family: 'Playfair Display';
}
.paragraph p{
  line-height: 22px;
  margin-bottom: 20px;
}
.read{
  padding: 5px 15px;
  background-color: #B59A6D;
  color: #f1f1f1;
  cursor: pointer;
}
/* -------------------------- footer --------------- */
footer{
  background-color: #3b3b3b;

}
.footer{
  max-width: 1080px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.footer a{
  color: #fff;
}
.footer-menu a{ 
  margin-left: 10px;
}
/* -------------------- scroll ---------------------------------- */


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #B59A6D; 
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313131; 
}


.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in; }
.fade-in.appear {
  opacity: 1; }



